:root {
  /* text-color */
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #FFFFFF;
  --accent-color: #2196F3;
  --icon-color: #AFB1B8;
  --accent-icon-color: #FFFFFF;
  /* button-color */
  --accent-button-color: #188CE8;
  /* logo-color */
  --logo-primary-color: #2196F3;
  --logo-header-color: #000000;
  --logo-footer-color: #FFFFFF;
  /* font-weight */
  --primary-fontWeight: 700;
  --second-fontWeight: 500;
  /* text-size */
  --title-text-size: 36px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li,
a,
button,
address {
  list-style: none;
  font-style: normal;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.section__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.main {
  padding-top: 80px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 2250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus, .modal-close:hover {
  fill: var(--accent-color);
}

.icon-close {
  width: 18px;
  height: 18px;
}

.modal-text {
  margin-bottom: 12px;
  font-weight: var(--primary-fontWeight);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form :nth-child(4) {
  margin-bottom: 20px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.modal-form:focus-within > .modal-icon {
  fill: var(--accent-color);
}

.modal-form textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  outline: none;
}

.form-input {
  height: 40px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 15px;
}

.form-textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
}

.form-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-check {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  cursor: pointer;
}

.policy-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../img/icons/checkbox-off.svg);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .checkbox {
  background-image: url(../img/icons/checkbox-on.svg);
}

.modal-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:focus, .modal-button:hover {
  background-color: var(--accent-button-color);
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid #ECECEC;
  background-color: #FFFFFF;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-primary-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav__logo span {
  color: var(--logo-header-color);
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  padding: 32px 0;
  color: var(--primary-text-color);
  font-weight: var(--second-fontWeight);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:focus, .nav__link:hover {
  color: var(--accent-color);
}

.nav__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
}

.nav__link.nav__link_current::after {
  opacity: 1;
}

.nav__link .nav__link_current {
  color: var(--accent-color);
}

.contact {
  display: flex;
  align-items: center;
}

.contact__list:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  display: inline-flex;
  align-items: center;
  font-weight: var(--second-fontWeight);
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:focus, .contact__link:hover {
  color: var(--accent-color);
}

.contact__link:focus .contact__icon,
.contact__link:hover .contact__icon {
  fill: var(--accent-color);
}

.contact__icon {
  fill: var(--second-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon_mail {
  width: 16px;
  height: 12px;
}

.contact__icon_phone {
  width: 10px;
  height: 16px;
}

.hero {
  padding: 200px 0;
  text-align: center;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin: 0 auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.hero__button {
  padding: 10px 32px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:focus, .hero__button:hover {
  background-color: var(--accent-button-color);
}

.section__skills {
  padding-bottom: 0;
}

.skills__list {
  display: flex;
}

.skills__item:not(:last-child) {
  margin-right: 30px;
}

.skills__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.skills__icon > svg {
  width: 70px;
  height: 70px;
}

.skills__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: var(--primary-fontWeight);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.skills__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.whatWeDo__list {
  display: flex;
}

.whatWeDo__item {
  position: relative;
}

.whatWeDo__item:not(:last-child) {
  margin-right: 30px;
}

.whatWeDo__text {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: var(--primary-fontWeight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section__background {
  background-color: #F5F4FA;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

.info {
  padding: 30px 0;
}

.info__name {
  text-align: center;
  margin-bottom: 10px;
  font-weight: var(--second-fontWeight);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.info__prof {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:focus, .social__link:hover {
  background-color: var(--accent-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--accent-icon-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus, .clients__link:hover {
  border-color: var(--accent-color);
}

.clients__link:focus .clients-icon,
.clients__link:hover .clients-icon {
  fill: var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: #F5F4FA;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:focus, .filter-button:hover {
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  position: relative;
  margin: 0 30px 30px 0;
  width: 370px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.portfolio-item:nth-child(3n + 3) {
  margin-right: 0;
}

.portfolio-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:focus, .portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:focus .portfolio-overlay,
.portfolio-link:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.overlay-text {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.portfolio-info {
  padding: 20px 24px;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: var(--primary-fontWeight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__inner {
  flex-grow: 1;
  margin-right: 70px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-primary-color);
}

.footer-logo span {
  color: var(--logo-footer-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-link {
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:focus, .contact-link:hover {
  color: var(--third-text-color);
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.footer-text {
  margin-bottom: 20px;
  font-weight: var(--primary-fontWeight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.footer-list {
  display: flex;
}

.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social {
  margin-right: 93px;
}

.footer-input {
  display: flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding: 16px;
  margin-right: 12px;
  color: var(--third-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:focus, .subscribe-button:hover {
  background-color: var(--accent-button-color);
}

.subscribe-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=main.css.map */