.section__skills {
    padding-bottom: 0;
}

.skills__list {
    display: flex;
}

.skills__item:not(:last-child) {
    margin-right: 30px;
}

.skills__icon {
    @include flex();

    width: 270px;
    height: 120px;

    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;

    &>svg {
        width: 70px;
        height: 70px;
    }
}

.skills__title {
    margin-bottom: 10px;
    
    font-size: 14px;    
    font-weight: var(--primary-fontWeight);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.skills__text {
    width: 270px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}



