.section--padding {
    padding-bottom: 0;
}

.skills {
    display: flex;
}

.skills__item{
    width: 270px;
    
    &:not(:last-child) {
        margin-right: 30px;
    }
}



.skills__title {
    margin-bottom: 10px;

    font-weight: var(--primary-fontWeight);
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.skills__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}

.skills__icon {
    @extend %flex-center;

    height: 120px;

    background-color: var(--skills-bg-color);
    border-radius: 4px;
    margin-bottom: 30px;

    & > svg {
        width: 70px;
        height: 70px;
    }
}

